server {
  server_name wydruki printouts backupy backups kopiezapasowe oireg;

  location / {
    uwsgi_pass unix:///run/oi-bus/socket;
    include uwsgi_params;
  }

  location /netboot/ {
    alias /opt/netboot/http/;
  }

  location /static/ {
    alias /var/lib/oi-bus/static/;
  }
}
