{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% trans "OI Tools" %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
</head>
<body>
<nav class="navbar">
<header>
    <a href="{% url "dashboard" %}">{% trans "OI Tools" %}</a>
</header>
<ul class="inline">
    {% if PRINTOUTS_ENABLED %}
        <li><a href="{% url "print" %}">{% trans "Printing" %}</a></li>
    {% endif %}
    <li><a href="{% url "backups" %}">{% trans "Backups" %}</a></li>
    {% if user.is_staff or EVERYONE_IS_ADMIN %}
        <li><a href="{% url "register" %}">{% trans "Computer registration" %}</a></li>
        <li><a href="{% url "assign" %}">{% trans "Participant assignment" %}</a></li>
        <li><a href="{% url "admin:index" %}">{% trans "Administration" %}</a></li>
    {% endif %}
</ul>
<footer>
    <span class="whoami">
    {% if computer %}
        {% if computer.participant %}
            {% trans "P:" %} {{ computer.participant }} / {% trans "C:" %} {{ computer }}
        {% else %}
            {% trans "unassigned" %} / {% trans "C:" %} {{ computer }}
        {% endif %}
    {% else %}
        {% trans "unregistered" %}
    {% endif %}
    {% if user.is_staff %}<span class="alert">admin</span>{% endif %}
    </span>
</footer>
</nav>
<div class="container" role="presentation">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <main>
        {% block main %}{% endblock main %}
    </main>
</div>
</body>
</html>
