Source: oi-bus
Section: admin
Priority: optional
Maintainer: Michał Sidor <michcioperz@asirpa.iscute.ovh>
Build-Depends: debhelper (>= 11), golang-go | gccgo-go, dh-golang, golang-github-mattn-go-sqlite3-dev
Standards-Version: 4.1.3
Homepage: https://sinol3.dasie.mimuw.edu.pl/oi-tech/oi-bus
Vcs-Git: https://sinol3.dasie.mimuw.edu.pl/oi-tech/oi-bus.git
Vcs-Browser: https://sinol3.dasie.mimuw.edu.pl/oi-tech/oi-bus

Package: oi-bus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: kontrola logowania zawodników i drukowanie
 no siema
